* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/glenn-portfolio.appspot.com/o/glenn-portrait%20(5).jpg?alt=media&token=cf1f6791-0377-4828-906d-8c5ff922a831');
  min-height: 100%;
  width: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


body {
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 16px;

  line-height: 1.6em;
  margin: 0;
}

/**
  Header section
*/

header {
  overflow: auto;
  position: absolute;
  top: 20%; left: 5%; bottom: 0; right: 0;
  max-width: 48%;

  text-align: left;
  color: white;
  background-color: transparent;
  text-shadow: 1px 1px gray;
}

header h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

header .my-title {
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 743px) {
  header h1 {
    font-size: 100px;
  }

  header .my-title {
    font-size: 60px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 742px) {
  header h1 p {
    font-size: 48px;
  }

  header .my-title {
    font-size: 25px;
  }

  header {
    top: 25%; left: 5%; bottom: 0; right: 0;
  }
}

/**
  Platform buttons
*/

.buttons-container {
  background-color: transparent;
}

.social-icon {
  width: 25px;
  height: 25px;
}

.button-p-title {
  padding-left: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
}

.button-link-title {
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
}

.button-link-title:visited, .button-link-title:link {
  color: white;
}

.buttons-container .row {
  display: flex;
  flex-direction: row;
  padding-left: 7%;
}