/* Menu
 * --------------------------------------- */
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

/* Section 1
 * --------------------------------------- */
#section1 h1{
	color: #444;
}
#section1 p{
	color: #333;
	color: rgba(0,0,0,0.3);
}
#section1 img{
	margin: 20px 0;
	opacity: 0.7;
}

/* Section 2
 * --------------------------------------- */
#section2 h1,
#section2 p{
	z-index: 3;
}
#section2 p{
	opacity: 0.8;
}

#section2 #colors{
	right: 60px;
	bottom: 0;
	position: absolute;
	height: 413px;
	width: 258px;
	background-image: url(imgs/colors.gif);
	background-repeat: no-repeat;
}

/* Section 3
 * --------------------------------------- */
#section3 #colors{
	left: 60px;
	bottom: 0;
}
#section3 p{
	color: #757575;
}

#colors2,
#colors3{
	position: absolute;
	height: 163px;
	width: 362px;
	z-index: 1;
	background-repeat: no-repeat;
	left: 0;
	margin: 0 auto;
	right: 0;
}
#colors2{
	background-image: url(imgs/colors2.gif);
	top:0;
}
#colors3{
	background-image: url(imgs/colors3.gif);
	bottom:0;
}

/* Section 4
 * --------------------------------------- */
#section4 p{
	opacity: 0.6;
}

/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
#pp-nav.custom .pp-tooltip{
	color: #AAA;
}


.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#starGithub{
	position: fixed;
	z-index: 99;
	right: 264px;
	top: 9px;
	width: 90px;
}

    /* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section1,
	#section2,
	#section3{
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section1{
		background-color: black;
		background-image: url('https://firebasestorage.googleapis.com/v0/b/glenn-portfolio.appspot.com/o/glenn-portrait%20(5).jpg?alt=media&token=cf1f6791-0377-4828-906d-8c5ff922a831');
	}
	#section2{
		background-image: url('https://firebasestorage.googleapis.com/v0/b/glenn-portfolio.appspot.com/o/sk.jpg?alt=media&token=c64bc98b-0713-4540-8e02-b10bcde33a7b');
	}
	#section3{
		background-image: url(imgs/bg3.jpg);
	}
	#section3 h1{
		color: #000;
	}

	#section1 h1{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 30px;
		color: #fff;
	}

	#section2 .intro{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 30px;
	}
	#section2 h1,
	#section2 p{
		text-shadow: 1px 5px 20px #000;
	}

	#section3 h1,
	#section3 p{
		text-shadow: 1px 5px 20px #000;
		color: #fff;
	}

	#infoMenu li a{
			color: #fff;
	}
